/vendor/
/composer.phar

/storage/*.log
/storage/mail/
/storage/uploads/

/public/uploads/

/config/app.php
/config/database.php

/blog/wp-config.php
/blog/wp-content/uploads/

*.log
.env
.env.*
!.env.example
